// # [GLOBALIZED VARIABLES]
$color: var(--color);
$color-i: var(--color-i);

$primary: var(--primary);
$secondary: var(--secondary);

$background-color: var(--background-color);

$shadow-color: var(--shadow-color);


// # [BASE THEME]
:root {
    // text colors
    --color: #ffffff;
    --color-i: #000000;

    // accent colors
    --primary: #0088ff;
    --secondary: #8400ff;

    // background colors
    --background-color: #000c29;

    // miscellaneous
    --shadow-color: #000; 
}

// # [OTHER THEMES]
[data-theme="dark"] {
    // # duplicate root variables you want to set here

    --color: #000000;
    --color-i: #ffffff;
}
